{% extends "_layout.html" %}

    {% block primary %}
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="row row-in-nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-md-4 abs-wide">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
                        <span class="sr-only">Videos Filtering Options</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">HOLLYWUdacity</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse-1">
                    <form class="navbar-form" role="search">
                        <!-- The free-search -->
                        <div class="form-group mobile-input col-md-4">
                            <input type="text" class="form-control" name="video-title-search" placeholder="Search Video Titles">
                        </div>

                        <!-- Video Type Drop-down -->
                        <div class="form-group mobile-input col-md-4">
                            <select name="video-type" id="video-type-search" class="form-control">
                                <option value="any">Tv & Movies</option>
                                <option value="tv-show">Only Tv-Shows</option>
                                <option value="movie">Only Movies</option>
                            </select>
                        </div>

                        <!-- Range Slider for Star Ratings -->
                        <div class="form-group mobile-input col-md-4 ratings-range-container">
                            <label class="full-width">Star Rating:
                                <input min="0" max="10" step=".1" type="range" name="video-rating-search"/>
                            </label>
                            <span id="starDisplay"></span>
                        </div>

                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <!-- This is my intro, As soon as a click is made it is gone -->
    <div class="container" id="intro">
        <div class="well well-sm">
            <p>
                Welcome, this project uses an XML file with 17 movies and 3 TV episodes to create a catelog with a Pinterest like feel. The 3 inputs
                at the top of the page can be used to filter the videos by title, video type and also how many average stars imdb.com rates the film.
                If you would like to use the xml for your own project, you can check <a target="_blank" href="">out all the code here</a>. This
                project requires Flask in order to serve the web page. You can get Flask by typeing <code>pip install flask</code>
            </p>
        </div>
    </div>

    <!-- Videogrid, where all the video-tiles are, like pinterest grid -->
    <div class="container">
        <section id="videogrid">
        {% if media %}
            {% for vid in media %}

            <!-- Grab the needed info from the Python Video objects -->
            <article class="video-tile text-center white-panel" data-video-rating="{{ vid.rating }}" data-video-rated="{{ vid.rated }}" data-video-time="{{ vid.time }}"
                     data-video-type="{{ vid.type }}" data-video-title="{{ vid.title }}" data-video-category="{{ vid.category }}" data-video-date="{{ vid.date }}"
                     {% if vid.youtube %} data-trailer-youtube-id="{{ vid.youtube }}" data-toggle="modal" data-target="#trailer"{% endif %}>
                <img src="{{ url_for('static', filename='images/' + vid.image) }}" width="220" height="342"/>
                <h3 class="title">{{ vid.title }}</h3>
                <hr/>
                <p>
                    {{ vid.story }}
                </p>

                <!-- My star ratings system -->
                <div class="ratings">
                    <span class="rating empty">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </span>
                    <span class="rating stars" style="width: {{ vid.rating * 23 + 19.5 }}px;">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </span>
                </div>

                <h5 class="float-rating">{{ vid.rating }}</h5>
            </article>

            {% endfor %}
        {% endif %}

        </section>  <!-- /#videogrid -->
    </div>  <!-- /.container -->
    {% endblock %}