{% extends "_layout.html" %}
{% from '_article.html' import article_old with context %}

    {% block primary %}
    

    <!-- This is my intro, As soon as a click is made it is gone -->
    <div class="container" id="intro">
        <div class="well well-sm">
            <p>
                Welcome, this project uses an XML file with 17 movies and 3 TV episodes to create a catelog with a Pinterest like feel. The 3 inputs
                at the top of the page can be used to filter the videos by title, video type and also how many average stars imdb.com rates the film.
                If you would like to use the xml for your own project, you can check <a target="_blank" href="">out all the code here</a>. This
                project requires Flask in order to serve the web page. You can get Flask by typeing <code>pip install flask</code>
            </p>
        </div>
    </div>

    <!-- Videogrid, where all the video-tiles are, like pinterest grid -->
    <div class="container">
        <section id="videogrid">
        {% if media %}
            {% for vid in media %}
                {{ article_old(vid) }}
            {% endfor %}
        {% endif %}

        </section>  <!-- /#videogrid -->
    </div>  <!-- /.container -->
    {% endblock %}